
{%- if template == 'page' or 'blog' or 'aricle' or template.name == 'index' -%}
    {%- assign add_top_margin = true -%}
	{%- assign hidden = false -%}
{%- else -%}
    {%- assign add_top_margin = false -%}
    {%- assign hidden = true -%}
{%- endif -%}

{%- capture section.settings -%}
    {
	  "button_background_color": 	{{ section.settings.button_background_color | json }},
      "button_color":				{{ section.settings.button_color | json }},
      "text_color":					{{ section.settings.text_color | json  }},
      "title":						{{ section.settings.title | json  }},
      "subheading":					{{ section.settings.subheading | json  }},
      "content":					{{ section.settings.content | json  }}
    }
{%- endcapture -%}


{%- if section.settings.enable_bar == true -%}

<section id="shopify-section-{{ section.id }}" data-section-id="section-{{ section.id }}" class="{% if add_top_margin %}--withMargin{% endif %}" style="background-image: url({{'Newsletter-background_static.jpg' | asset_url}}); background-repeat: no-repeat; background-size: cover;{% if hidden %}display:none;{% endif %}">
  {%- capture mobile_size -%}750x{% if section.settings.image.height >= 960 %}960{% else %}{{ section.settings.image.height }}{% endif %}{%- endcapture -%}

  <div class="FlexboxIeFix" style="border-bottom: solid 1px; border-top: solid 1px;">
    <div class="ImageHero {% if section.settings.section_size != 'normal' %}ImageHero--{{ section.settings.section_size }}{% endif %} ImageHero--newsletter" {% if section.settings.image %}style="background: url({{ section.settings.image | img_url: '1x1' }})"{% endif %}>
      <div class="ImageHero__ImageWrapper">
        <div class="ImageHero__Image Image--lazyLoad Image--zoomOut"
             data-optimumx="1.4"
             data-expand="-150"
             {% if section.settings.image %}data-bgset="{{ section.settings.image | img_url: mobile_size, crop: 'center' }} 750w, {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1500x' }} 1500w"{% endif %}>
        </div>

        <noscript>
          <div class="ImageHero__Image" style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
        </noscript>

        <!--{%- unless section.settings.image != blank -%}
          <div class="PlaceholderBackground PlaceholderSvg--dark">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
          </div>
        {%- endunless -%} -->
      </div>

      <div class="ImageHero__ContentOverlay">
        
        <header class="SectionHeader SectionHeader--center">
    	   {%- if section.settings.title != blank -%}
            <h2 class="SectionHeader__Heading Heading u-h2">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
          
          {%- if section.settings.subheading != blank -%}
            <h4 class="SectionHeader__Heading Heading u-h4">{{ section.settings.subheading | escape }}</h4>
          {%- endif -%}

          {%- if section.settings.content != blank -%}
            <div class="SectionHeader__Description">
              Yes, I would like to receive updates on products, promotions, special offers, news &amp; events from 5% Nutrition.
            </div>
          {%- endif -%}             
        </header>
        
        <div class="_form_1"></div><script src="https://5percentnutrition.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>
      
       
      </div>
    </div>
  </div>
  
</section>

{%- endif -%}
    

{% stylesheet %}

<style type="text/css" media="screen">
   
  	#section-{{ section.id }} .SectionHeader__Heading .Heading .u-h2 {
      font-family: 'Gunplay-Regular', Arial, sans-serif;
      color: #fff !important;
     }
      
	._form_1 {
      width: 100%;
      font-family:'Acumin Pro', Arial, sans-serif;
    }
  
      ._form_hide {
        display: none;
        visibility: hidden;
      }
      ._form_show {
        display: block;
        visibility: visible;
      }
      ._form-top {
        top: 0;
      }
      ._form-bottom {
        bottom: 0;
      }
      ._form-left {
        left: 0;
      }
      ._form-right {
        right: 0;
      }
  
    ._form_1 input[type="text"],
    input[type="date"],
    textarea {
      padding: 8px 12px;
      height: 36px;
      border: #ccc 1px solid;
      border-radius: 2px;
      color: #fff;
      font-size: sizeto(90%);
      background-color: #121212;
    }

    ._form_1 textarea {
      resize: inherit;
    }
  
  
._submit {
  -webkit-appearance: none;
  cursor: pointer;
  font-family: 'Acumin Pro Bold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  background-color: {{ section.settings.button_background_color }} !important;
  border: 3px solid {{ section.settings.button_background_color }} !important;-moz-border-radius: 2px !important;-webkit-border-radius: 2px !important;border-radius: 2px !important;
  color: {{ section.settings.button_color }} !important;
  padding: 10px !important
}

  ._close-icon {
  cursor: pointer;
  background-image: url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png');
  background-repeat: no-repeat;
  background-size: 14.2px 14.2px;
  position: absolute;
  display: none;
  top: 11px;
  right: 9px;
  overflow: hidden;
  width: 16.2px;
  height: 16.2px;
}
  
._close-icon:before {
  position: relative;
}
._form-body {
  margin-bottom: 30px;
}
._form-image-left {
  width: 150px;
  float: left;
}
._form-content-right {
  margin-left: 164px;
}
._form-branding {
  color: #fff;
  font-size: 10px;
  clear: both;
  text-align: left;
  margin-top: 30px;
  font-weight: 100;
}
._form-branding ._logo {
  display: none !important;
  width: 130px;
  height: 14px;
  margin-top: 6px;
  background-size: 130px auto;
  background-repeat: no-repeat;
}
._form-label,
._form_element ._form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
._dark ._form-branding {
  color: #333;
}
._dark ._form-branding ._logo {
  display: none !important;
}
._form_element {
  position: relative;
  margin-bottom: 10px;
  font-size: 0;
  max-width: 100%;
}
._form_element * {
  font-size: 14px;
}
._form_element._clear {
  clear: both;
  width: 100%;
  float: none;
}
._form_element._clear:after {
  clear: left;
}
._form_element input[type="text"],
._form_element input[type="date"],
._form_element select,
._form_element textarea:not(.g-recaptcha-response) {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
._field-wrapper {
  position: relative;
}
._inline-style {
  float: left;
}
._inline-style input[type="text"] {
  width: 150px;
}
._inline-style:not(._clear) + ._inline-style:not(._clear) {
  margin-left: 20px;
  }
._form_element img._form-image {
  max-width: 100%;
}
._clear-element {
  clear: left;
}
._full_width {
  width: 100%;
}
._form_full_field {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
  
    input[type="text"]._has_error,
    textarea._has_error {
      border: #F37C7B 1px solid;
    }
    input[type="checkbox"]._has_error {
      outline: #F37C7B 1px solid;
    }
  
._error {
  display: block;
  position: absolute;
  font-size: 14px;
  z-index: 10000001;
}
._error._above {
  padding-bottom: 4px;
  bottom: 39px;
  right: 0;
}
._error._below {
  padding-top: 4px;
  top: 100%;
  right: 0;
}
._error._above ._error-arrow {
  bottom: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #F37C7B;
}
._error._below ._error-arrow {
  top: 0;
  right: 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #F37C7B;
}
._error-inner {
  padding: 8px 12px;
  background-color: #F37C7B;
  font-size: 14px;
  font-family: 'Acumin Pro Condensed', Arial, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
._error-inner._form_error {
  margin-bottom: 5px;
  text-align: left;
}
._button-wrapper ._error-inner._form_error {
  position: static;
}
._error-inner._no_arrow {
  margin-bottom: 10px;
}
._error-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
._error-html {
  margin-bottom: 10px;
}
GLOBAL-STYLE .pika-single {
  z-index: 10000001 !important;
}
input[type="text"].datetime_date {
  width: 69%;
  display: inline;
}
select.datetime_time {
  width: 29%;
  display: inline;
  height: 32px;
}
@media all and (min-width: 320px) and (max-width: 667px) {
  ._form_1 ::-webkit-scrollbar {
    display: none;
  }
  ._form_1 & {
    margin: 0;
    width:100%;
    min-width:100%;
    max-width:100%;
    box-sizing: border-box;
  }

  ._form-content {
    margin: 0;
    width: 100%;
  }
  ._form-inner {
    display: block;
    min-width: 100%;
  }
  ._form-title,
  ._inline-style {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  ._form-title {
    font-size: 1.2em;
  }
  ._form_element {
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
  }
  ._form_1 ._form-element,
  ._inline-style,
  input[type="text"],
  label,
  p,
  textarea:not(.g-recaptcha-response) {
    float: none;
    display: block;
    width: 100%;
  }
  ._row._checkbox-radio label {
    display: inline;
  }
  ._form_1 ._row,
  p,
  label {
    margin-bottom: 0.7em;
    width: 100%;
  }
  ._row input[type="checkbox"],
  ._row input[type="radio"] {
    margin: 0 !important;
    vertical-align: middle !important;
  }
  ._row input[type="checkbox"] + span label {
    display: inline;
  }
  ._row span label {
    margin: 0 !important;
    width: initial !important;
    vertical-align: middle !important;
  }
  ._form-image {
    max-width: 100%;
    height: auto !important;
  }
  ._form_1 input[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.2em;
    -webkit-appearance: none;
  }
  ._form_1 input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: baseline;
  }
  ._form_1 button[type="submit"] {
    padding: 12px; 20px;
    font-size: 1.5em;
  }
  ._inline-style {
    margin: 20px 0 0 !important;
  }
}
._form_1 & {
  position: relative;
  text-align: left;
  margin: 25px auto 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  background: #TRANSPARENT !important;
  border: 1px solid #FFFFFF !important;
  width: 340px;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #FFFFFF !important;
}
    ._inline-form,
  ._inline-form ._form-content,
  ._inline-form input,
  ._inline-form ._submit{
    font-family: 'Acumin Pro', Arial, sans-serif;
  }

._form-title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 0;
}
&:before,
&:after {
  content: " ";
  display: table;
}
&:after {
  clear: both;
}
._inline-style {
  width: auto;
  display: inline-block;
}
._inline-style input[type="text"],
._inline-style input[type="date"] {
  padding: 10px 12px;
}
._inline-style button._inline-style {
  position: relative;
  top: 27px;
}
._inline-style p {
  margin: 0;
}
._inline-style ._button-wrapper {
  position: relative;
  margin: 27px 12.5px 0 20px;
}
._form-thank-you {
  position: relative;
  left: 0;
  right: 0;
  padding: 10px 0;
  margin: 0 auto;
  color: #fff !important;
  text-align: center;
  font-size: 14px;
  font-family: 'Acumin Pro', Arial, sans-serif;
  background: #037E2D;
}

@media all and (min-width: 320px) and (max-width: 667px) {
  ._inline-form._inline-style ._inline-style._button-wrapper {
    margin-top: 20px !important;
    margin-left: 0 !important;
  }
}
  
</style>

{% endstylesheet %}


{% javascript %}

<script type="text/javascript">
  
window.cfields = [];
window._show_thank_you = function(id, message, trackcmp_url, email) {
  var form = document.getElementById('_form_' + id + '_'), thank_you = form.querySelector('._form-thank-you');
  form.querySelector('._form-content').style.display = 'none';
  thank_you.innerHTML = message;
  thank_you.style.display = 'block';
  const vgoAlias = typeof visitorGlobalObjectAlias === 'undefined' ? 'vgo' : visitorGlobalObjectAlias;
  var visitorObject = window[vgoAlias];
  if (email && typeof visitorObject !== 'undefined') {
    visitorObject('setEmail', email);
    visitorObject('update');
  } else if (typeof(trackcmp_url) != 'undefined' && trackcmp_url) {
    // Site tracking URL to use after inline form submission.
    _load_script(trackcmp_url);
  }
  if (typeof window._form_callback !== 'undefined') window._form_callback(id);
};
window._show_error = function(id, message, html) {
  var form = document.getElementById('_form_' + id + '_'), err = document.createElement('div'), button = form.querySelector('button'), old_error = form.querySelector('._form_error');
  if (old_error) old_error.parentNode.removeChild(old_error);
  err.innerHTML = message;
  err.className = '_error-inner _form_error _no_arrow';
  var wrapper = document.createElement('div');
  wrapper.className = '_form-inner';
  wrapper.appendChild(err);
  button.parentNode.insertBefore(wrapper, button);
  document.querySelector('[id^="_form"][id$="_submit"]').disabled = false;
  if (html) {
    var div = document.createElement('div');
    div.className = '_error-html';
    div.innerHTML = html;
    err.appendChild(div);
  }
};
window._load_script = function(url, callback) {
  var head = document.querySelector('head'), script = document.createElement('script'), r = false;
  script.type = 'text/javascript';
  script.charset = 'utf-8';
  script.src = url;
  if (callback) {
    script.onload = script.onreadystatechange = function() {
      if (!r && (!this.readyState || this.readyState == 'complete')) {
        r = true;
        callback();
      }
    };
  }
  head.appendChild(script);
};
(function() {
  if (window.location.search.search("excludeform") !== -1) return false;
  var getCookie = function(name) {
    var match = document.cookie.match(new RegExp('(^|; )' + name + '=([^;]+)'));
    return match ? match[2] : null;
  }
  var setCookie = function(name, value) {
    var now = new Date();
    var time = now.getTime();
    var expireTime = time + 1000 * 60 * 60 * 24 * 365;
    now.setTime(expireTime);
    document.cookie = name + '=' + value + '; expires=' + now + ';path=/';
  }
      var addEvent = function(element, event, func) {
    if (element.addEventListener) {
      element.addEventListener(event, func);
    } else {
      var oldFunc = element['on' + event];
      element['on' + event] = function() {
        oldFunc.apply(this, arguments);
        func.apply(this, arguments);
      };
    }
  }
  var _removed = false;
  var form_to_submit = document.getElementById('_form_1_');
  var allInputs = form_to_submit.querySelectorAll('input, select, textarea'), tooltips = [], submitted = false;

  var getUrlParam = function(name) {
    var regexStr = '[\?&]' + name + '=([^&#]*)';
    var results = new RegExp(regexStr, 'i').exec(window.location.href);
    return results != undefined ? decodeURIComponent(results[1]) : false;
  };

  for (var i = 0; i < allInputs.length; i++) {
    var regexStr = "field\\[(\\d+)\\]";
    var results = new RegExp(regexStr).exec(allInputs[i].name);
    if (results != undefined) {
      allInputs[i].dataset.name = window.cfields[results[1]];
    } else {
      allInputs[i].dataset.name = allInputs[i].name;
    }
    var fieldVal = getUrlParam(allInputs[i].dataset.name);

    if (fieldVal) {
      if (allInputs[i].dataset.autofill === "false") {
        continue;
      }
      if (allInputs[i].type == "radio" || allInputs[i].type == "checkbox") {
        if (allInputs[i].value == fieldVal) {
          allInputs[i].checked = true;
        }
      } else {
        allInputs[i].value = fieldVal;
      }
    }
  }

  var remove_tooltips = function() {
    for (var i = 0; i < tooltips.length; i++) {
      tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
    }
    tooltips = [];
  };
  var remove_tooltip = function(elem) {
    for (var i = 0; i < tooltips.length; i++) {
      if (tooltips[i].elem === elem) {
        tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
        tooltips.splice(i, 1);
        return;
      }
    }
  };
  var create_tooltip = function(elem, text) {
    var tooltip = document.createElement('div'), arrow = document.createElement('div'), inner = document.createElement('div'), new_tooltip = {};
    if (elem.type != 'radio' && elem.type != 'checkbox') {
      tooltip.className = '_error';
      arrow.className = '_error-arrow';
      inner.className = '_error-inner';
      inner.innerHTML = text;
      tooltip.appendChild(arrow);
      tooltip.appendChild(inner);
      elem.parentNode.appendChild(tooltip);
    } else {
      tooltip.className = '_error-inner _no_arrow';
      tooltip.innerHTML = text;
      elem.parentNode.insertBefore(tooltip, elem);
      new_tooltip.no_arrow = true;
    }
    new_tooltip.tip = tooltip;
    new_tooltip.elem = elem;
    tooltips.push(new_tooltip);
    return new_tooltip;
  };
  var resize_tooltip = function(tooltip) {
    var rect = tooltip.elem.getBoundingClientRect();
    var doc = document.documentElement, scrollPosition = rect.top - ((window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0));
    if (scrollPosition < 40) {
      tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _below';
    } else {
      tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _above';
    }
  };
  var resize_tooltips = function() {
    if (_removed) return;
    for (var i = 0; i < tooltips.length; i++) {
      if (!tooltips[i].no_arrow) resize_tooltip(tooltips[i]);
    }
  };
  var validate_field = function(elem, remove) {
    var tooltip = null, value = elem.value, no_error = true;
    remove ? remove_tooltip(elem) : false;
    if (elem.type != 'checkbox') elem.className = elem.className.replace(/ ?_has_error ?/g, '');
    if (elem.getAttribute('required') !== null) {
      if (elem.type == 'radio' || (elem.type == 'checkbox' && /any/.test(elem.className))) {
        var elems = form_to_submit.elements[elem.name];
        if (!(elems instanceof NodeList || elems instanceof HTMLCollection) || elems.length <= 1) {
          no_error = elem.checked;
        }
        else {
          no_error = false;
          for (var i = 0; i < elems.length; i++) {
            if (elems[i].checked) no_error = true;
          }
        }
        if (!no_error) {
          tooltip = create_tooltip(elem, "Please select an option.");
        }
      } else if (elem.type =='checkbox') {
        var elems = form_to_submit.elements[elem.name], found = false, err = [];
        no_error = true;
        for (var i = 0; i < elems.length; i++) {
          if (elems[i].getAttribute('required') === null) continue;
          if (!found && elems[i] !== elem) return true;
          found = true;
          elems[i].className = elems[i].className.replace(/ ?_has_error ?/g, '');
          if (!elems[i].checked) {
            no_error = false;
            elems[i].className = elems[i].className + ' _has_error';
            err.push("Checking %s is required".replace("%s", elems[i].value));
          }
        }
        if (!no_error) {
          tooltip = create_tooltip(elem, err.join('<br/>'));
        }
      } else if (elem.tagName == 'SELECT') {
        var selected = true;
        if (elem.multiple) {
          selected = false;
          for (var i = 0; i < elem.options.length; i++) {
            if (elem.options[i].selected) {
              selected = true;
              break;
            }
          }
        } else {
          for (var i = 0; i < elem.options.length; i++) {
            if (elem.options[i].selected && !elem.options[i].value) {
              selected = false;
            }
          }
        }
        if (!selected) {
          elem.className = elem.className + ' _has_error';
          no_error = false;
          tooltip = create_tooltip(elem, "Please select an option.");
        }
      } else if (value === undefined || value === null || value === '') {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "This field is required.");
      }
    }
    if (no_error && elem.name == 'email') {
      if (!value.match(/^[\+_a-z0-9-'&=]+(\.[\+_a-z0-9-']+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,})$/i)) {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "Enter a valid email address.");
      }
    }
    if (no_error && /date_field/.test(elem.className)) {
      if (!value.match(/^\d\d\d\d-\d\d-\d\d$/)) {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "Enter a valid date.");
      }
    }
    tooltip ? resize_tooltip(tooltip) : false;
    return no_error;
  };
  var needs_validate = function(el) {
        if(el.getAttribute('required') !== null){
            return true
        }
        if(el.name === 'email' && el.value !== ""){
            return true
        }
        return false
  };
  var validate_form = function(e) {
    var err = form_to_submit.querySelector('._form_error'), no_error = true;
    if (!submitted) {
      submitted = true;
      for (var i = 0, len = allInputs.length; i < len; i++) {
        var input = allInputs[i];
        if (needs_validate(input)) {
          if (input.type == 'text') {
            addEvent(input, 'blur', function() {
              this.value = this.value.trim();
              validate_field(this, true);
            });
            addEvent(input, 'input', function() {
              validate_field(this, true);
            });
          } else if (input.type == 'radio' || input.type == 'checkbox') {
            (function(el) {
              var radios = form_to_submit.elements[el.name];
              for (var i = 0; i < radios.length; i++) {
                addEvent(radios[i], 'click', function() {
                  validate_field(el, true);
                });
              }
            })(input);
          } else if (input.tagName == 'SELECT') {
            addEvent(input, 'change', function() {
              validate_field(this, true);
            });
          } else if (input.type == 'textarea'){
            addEvent(input, 'input', function() {
              validate_field(this, true);
            });
          }
        }
      }
    }
    remove_tooltips();
    for (var i = 0, len = allInputs.length; i < len; i++) {
      var elem = allInputs[i];
      if (needs_validate(elem)) {
        if (elem.tagName.toLowerCase() !== "select") {
          elem.value = elem.value.trim();
        }
        validate_field(elem) ? true : no_error = false;
      }
    }
    if (!no_error && e) {
      e.preventDefault();
    }
    resize_tooltips();
    return no_error;
  };
  addEvent(window, 'resize', resize_tooltips);
  addEvent(window, 'scroll', resize_tooltips);
  window._old_serialize = null;
  if (typeof serialize !== 'undefined') window._old_serialize = window.serialize;
  _load_script("//d3rxaij56vjege.cloudfront.net/form-serialize/0.3/serialize.min.js", function() {
    window._form_serialize = window.serialize;
    if (window._old_serialize) window.serialize = window._old_serialize;
  });
  var form_submit = function(e) {
    e.preventDefault();
    if (validate_form()) {
      // use this trick to get the submit button & disable it using plain javascript
      document.querySelector('#_form_1_submit').disabled = true;
            var serialized = _form_serialize(document.getElementById('_form_1_'));
      var err = form_to_submit.querySelector('._form_error');
      err ? err.parentNode.removeChild(err) : false;
      _load_script('https://5percentnutrition.activehosted.com/proc.php?' + serialized + '&jsonp=true');
    }
    return false;
  };
  addEvent(form_to_submit, 'submit', form_submit);
})();

</script>

{% endjavascript %}

{% schema %}
  {
	"name": "AC Newsletter",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_bar",
        "label": "Enable bar",
        "default": true	
      },
      {
        "type": "select",
        "id": "section_size",
        "label": "Section size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1500px x 800px in JPG recommended"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "button_background_color",
        "label": "Button Background",
        "default": "#AE1F24"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Text",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "Keep updated"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Description",
        "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
      }
    ]
}
{% endschema %}